.how-it-works {
  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &-button {
    margin-top: 30px;
    text-align: center;
  }

  .content-left {
    max-width: 50%;

    &-text {
      p {
        color: #1e2f30;
        font-family: "SF Pro";
        font-size: 24px;
        font-weight: 400;
        line-height: 119.365%;

        &:not(:last-of-type) {
          margin-bottom: 1em;
        }
      }
    }
  }

  .content-right {
    position: relative;

    height: 660px;
    width: 700px;

    flex-shrink: 0;

    .images {
      img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        height: 640px;

        &:nth-last-of-type(1) {
          z-index: 0;
          left: 200px;
        }
      }
    }
  }

  .dot {
    &-first-up {
      top: 46px;
      left: 114px;

      .dot-tooltip {
        left: 100%;
        bottom: 50%;
        transform: translateY(50%) translateX(28px);
      }
    }

    &-second-mid {
      top: 237px;
      left: 139px;

      .dot-tooltip {
        left: 100%;
        bottom: 50%;
        transform: translateY(50%) translateX(28px);
      }
    }

    &-third-down {
      bottom: 67px;
      right: 169px;

      .dot-tooltip {
        left: auto;
        right: 99%;
        bottom: auto;
        top: 53%;
        transform: translateX(0) translateY(28px);
      }
    }

    &-fourth-end {
      bottom: 270px;
      right: 169px;

      .dot-tooltip {
        left: auto;
        right: 0%;
        bottom: auto;
        top: 75%;
        transform: translateX(0) translateY(28px);
      }
    }
  }
}
