html,
body {
  background: #f7f7f5;
  font-family: "SF Pro";

  color: #000;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  line-height: 1em;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  padding: 0 33px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

menu {
  padding: 0;
  margin: 0;
}

img {
  object-fit: cover;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.green-button {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-family: "Akzidenz-Grotesk Pro Ext";
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid #1e2f30;
  background: #1e2f30;
  padding: 10px 30px;

  transition: all 0.1s ease-in-out;

  &:hover {
    color: #1e2f30;
    border: 1px solid #fff;
    background: #c3f994;
    transition: all 0.1s ease-in-out;
  }

  @media (max-width: 560px) {
    font-size: 10px;
  }
}

.dot {
  position: absolute;
  width: 44px;
  height: 44px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  background: rgba(30, 47, 48, 0.2);
  backdrop-filter: blur(2px);
  cursor: pointer;

  z-index: 99;
  transition: 0.25s ease;

  &.disabled {
    cursor: auto;
  }

  &:hover {
    transform: scale(1.1);
    transition: 0.25s ease;
  }
}

.dot::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #122a2d;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.dot::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  z-index: 1;

  padding: 1px;

  background: conic-gradient(
    transparent 0deg 90deg,
    #21383b 90deg 180deg,
    transparent 180deg 270deg,
    #21383b 270deg 360deg
  );

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;

  mask-composite: exclude;

  animation: spinDot 6s linear infinite;
}

@keyframes spinDot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dot-white {
  background: rgba(255, 255, 255, 0.3);

  &::after {
    background: #fff;
  }

  &::before {
    background: conic-gradient(
      transparent 0deg 90deg,
      #fff 90deg 180deg,
      transparent 180deg 270deg,
      #fff 270deg 360deg
    );
  }
}

/* tooltip */
.dot-tooltip {
  position: absolute;
  left: 50%;
  bottom: calc(100% + 10px);
  transform: translateX(-50%) translateY(6px);

  width: 313px;
  border-radius: 20px;
  border: 1px solid #1e2f30;
  background: rgba(30, 47, 48, 0.1);
  backdrop-filter: blur(3.5px);
  padding: 10px 14px;
  border-radius: 20px;
  opacity: 0;
  transition: 0.25s ease;
  pointer-events: none;
  z-index: 3;
  overflow: hidden;

  color: #1e2f30;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;

  &-white {
    color: #fff;

    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.35);
  }
}

// .dot-tooltip::after {
//   content: "";
//   position: absolute;
//   left: 50%;
//   top: 100%;
//   transform: translateX(-50%);
//   border-width: 5px;
//   border-style: solid;
//   border-color: #122a2d transparent transparent transparent;
// }

.dot:hover .dot-tooltip,
.dot:focus-visible .dot-tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.content {
  &-title {
    margin-bottom: 50px;

    @media (max-width: 780px) {
      margin-bottom: 25px;
    }

    h3 {
      color: #1e2f30;
      font-family: "Akzidenz-Grotesk Pro Ext";
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;

      @media (max-width: 780px) {
        font-size: 8px;
      }
    }
  }
}

section {
  padding: 50px 0;

  @media (max-width: 576px) {
    padding: 25px 0;
  }
}

.popup {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.25s ease,
    visibility 0.25s ease;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    .popup__content {
      transform: translateY(0) scale(1);
    }
  }

  &__backdrop {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.45);
  }

  &__content {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 732px;
    min-height: 220px;
    height: 80vh;
    background: #000;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
    transform: translateY(20px) scale(0.98);
    transition: transform 0.25s ease;

    color: #fff;

    // .footer__title {
    //   text-align: left;
    // }

    .footer__col {
      justify-content: space-between;
      height: 100%;
    }
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background: transparent;
    font-size: 32px;
    line-height: 1;
    cursor: pointer;
  }

  &__body {
    height: 100%;
  }
}
