.why-section {
  padding-top: 190px;

  &__header {
    padding-bottom: 200px;

    @media (max-width: 780px) {
      padding-bottom: 50px;
    }
  }

  &__title {
    color: #1e2f30;
    font-family: "SF Pro";
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 119.365%;

    @media (max-width: 780px) {
      font-size: 18px;
    }
  }

  &__timeline {
    padding: 60px 0;

    max-width: 1070px;
    width: 100%;

    margin: 0 auto;
    position: relative;
    overflow: hidden;

    @media (max-width: 780px) {
      padding: 30px 0;
    }
  }

  &__line {
    position: absolute;
    top: 0;
    left: 314px;
    height: 100%;

    @media (max-width: 1200px) {
      left: 283px;
    }
    @media (max-width: 780px) {
      left: 15px;
    }
  }

  &__line-stick {
    width: 1px;
    height: 100%;
    background-color: #1e2f30;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &:not(:last-of-type) {
      margin-bottom: 100px;

      @media (max-width: 780px) {
        margin-bottom: 40px;
      }
    }

    @media (max-width: 1200px) {
      gap: 20px;
    }

    @media (max-width: 780px) {
      flex-direction: column;

      &-content {
        padding-left: 61px;
      }
    }
  }

  &__year {
    display: flex;
    align-items: center;
    gap: 63px;

    @media (max-width: 1200px) {
      gap: 30px;
    }

    @media (max-width: 780px) {
      flex-direction: row-reverse;
    }

    p {
      color: #1e2f30;
      font-family: "SF Pro";
      font-size: 92px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.6px;
      width: 230px;
      text-align: left;

      @media (max-width: 780px) {
        width: auto;
        font-size: 32px;
      }
    }
  }

  .dot-wrap {
    height: 44px;
    width: 44px;

    @media (max-width: 780px) {
      height: 30px;
      width: 30px;

      .dot {
        height: 30px;
        width: 30px;
      }

      .dot::after {
        width: 9px;
        height: 9px;
      }
    }
  }

  &__item-content {
    max-width: 690px;
    width: 100%;
  }

  &__item-title {
    margin-bottom: 50px;

    color: #000;
    font-family: "SF Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (max-width: 780px) {
      font-size: 12px;
      margin-bottom: 30px;
    }
  }

  &__amount {
    color: #1e2f30;
    font-family: "SF Pro";
    font-size: 92px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.6px;
    @media (max-width: 780px) {
      font-size: 32px;
    }
  }

  &__amount-text {
    color: #000;
    font-family: "SF Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media (max-width: 780px) {
      font-size: 8px;
    }
  }

  &__image {
    padding: 180px 0;
    text-align: center;

    @media (max-width: 1200px) {
      padding: 40px 0;
    }

    @media (max-width: 780px) {
      padding-bottom: 0;
    }
  }
}

.why-section__item_only-title {
  align-items: center;

  @media (max-width: 780px) {
    align-items: flex-start;
  }

  .why-section__item-title {
    margin-bottom: 0;
  }
}

.why-section__item {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.6s ease;

  &.is-inview {
    opacity: 1;
    transform: translateY(0);
  }
}
